// StyleCI color palette

$styleci-primary:        #607D8B;
$styleci-dark-primary:   #455A64;
$styleci-light:          #CFD8DC;
$styleci-text:           #FFFFFF;
$styleci-accent:         #FF5252;
$styleci-primary-text:   #212121;
$styleci-secondary-text: #727272;
$styleci-divider:        #B6B6B6;
