$gutter_border_color:			$styleci-light !default;
$gutter_border:					3px solid $gutter_border_color !default;

$code_plain:					black !default;
$code_functions:				$styleci-dark-primary !default;
$code_color2:					$styleci-dark-primary !default;
$code_color3:					$styleci-dark-primary !default;

@import "./vendor/bower_components/SyntaxHighlighter/src/sass/shCoreDefault";

.syntaxhighlighter {
    overflow-x: scroll !important;
    overflow-y: hidden !important;
}

.syntaxhighlighter table td.code .line {
    padding: 2px 1em !important;
}

.syntaxhighlighter table td.gutter .line {
    padding: 2px .5em 2px 1em !important;
}

.syntaxhighlighter code {
    padding: 3px 0 !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
    color: $code_color2 !important;
    background-color: #eaffea !important;
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
    color: $code_color3 !important;
    background-color: #ffecec !important;
}
